/* Fnot size */
$fs-array: 13, 14, 15, 16, 18, 20, 24, 32, 36, 50, 74;
@each $fs in $fs-array {
  .fs-#{$fs} {
    font-size: #{$fs}px;
  }
}
/* Font weight */
$fw-array: 100, 200, 300, 400, 500, 600, 700, 800, 900;
@each $fw in $fw-array {
  .fw-#{$fw} {
    font-weight: #{$fw};
  }
}
/* Line Height */
$lh-array: 14, 16, 17, 18, 19, 20, 22, 23, 25, 28, 29, 34, 36, 46, 50, 60, 84;
@each $lh in $lh-array {
  .lh-#{$lh} {
    line-height: #{$lh}px;
  }
}
