.text-black-5 {
  color: var(--black-5) !important;
}
.text-black-10 {
  color: var(--black-10) !important;
}
.text-white-10 {
  color: var(--white-10) !important;
}
.text-white-32 {
  color: var(--white-32) !important;
}
.text-white-70 {
  color: var(--white-70) !important;
}
.text-cdef84 {
  color: var(--primary-color) !important;
}
.text-afd449 {
  color: var(--hover-color) !important;
}
.text-707070 {
  color: var(--bColor) !important;
}
.text-ebedf0 {
  color: var(--colorTwo) !important;
}
.text-fafafa {
  color: var(--colorThree) !important;
}
.text-71e3ba {
  color: var(--colorFour) !important;
}
.text-ed84ef {
  color: var(--colorFive) !important;
}
.text-84a2ef {
  color: var(--colorSix) !important;
}
.text-f4f4ef {
  color: var(--colorSeven) !important;
}
.text-ea4335 {
  color: var(--colorEight) !important;
}
.text-ea4335-10 {
  color: var(--colorEight-10) !important;
}
.text-f9f9f9 {
  color: var(--colorNine) !important;
}
.text-fdedeb {
  color: var(--colorTen) !important;
}
.text-eaeaea {
  color: var(--colorEleven) !important;
}
.text-0fa958 {
  color: var(--colorTwelve) !important;
}
.text-0fa958-10 {
  color: var(--colorTwelve-10) !important;
}
.text-f5b40a {
  color: var(--color13) !important;
}
.text-f5b40a-10 {
  color: var(--color13-10) !important;
}
.text-ebe7d5 {
  color: var(--color14) !important;
}
.text-e6ef84 {
  color: var(--color15) !important;
}
.text-84dcef {
  color: var(--color16) !important;
}
.text-eef0f2 {
  color: var(--color17) !important;
}
.text-b7bdc6 {
  color: var(--color18) !important;
}
.text-596680 {
  color: var(--color19) !important;
}
.text-f0f0f0 {
  color: var(--color20) !important;
}
.text-ed0006 {
  color: var(--color21) !important;
}
.text-8d84ef {
  color: var(--color22) !important;
}
.text-d3d9e5 {
  color: var(--color23) !important;
}
.text-cdffc5 {
  color: var(--color24) !important;
}
.text-scroll-track {
  color: var(--scroll-track) !important;
}
.text-scroll-thumb {
  color: var(--scroll-thumb) !important;
}
.text-1b1c17 {
  color: var(--text-black) !important;
}
.text-1b1c17-50 {
  color: var(--text-black-50) !important;
}
.text-4cbf4c {
  color: var(--green) !important;
}
.text-ededed {
  color: var(--bg-one) !important;
}
.text-e5e8ec {
  color: var(--border-color-one) !important;
}
.text-b0b0b0 {
  color: var(--border-color-deep) !important;
}
.text-fbf9f1 {
  color: var(--body-bg) !important;
}
/* Background Color */
.bg-black-5 {
  background-color: var(--black-5) !important;
}
.bg-black-10 {
  background-color: var(--black-10) !important;
}
.bg-white-10 {
  background-color: var(--white-10) !important;
}
.bg-white-32 {
  background-color: var(--white-32) !important;
}
.bg-white-70 {
  background-color: var(--white-70) !important;
}
.bg-cdef84 {
  background-color: var(--primary-color) !important;
}
.bg-afd449 {
  background-color: var(--hover-color) !important;
}
.bg-707070 {
  background-color: var(--bColor) !important;
}
.bg-ebedf0 {
  background-color: var(--colorTwo) !important;
}
.bg-fafafa {
  background-color: var(--colorThree) !important;
}
.bg-71e3ba {
  background-color: var(--colorFour) !important;
}
.bg-ed84ef {
  background-color: var(--colorFive) !important;
}
.bg-84a2ef {
  background-color: var(--colorSix) !important;
}
.bg-f4f4ef {
  background-color: var(--colorSeven) !important;
}
.bg-ea4335 {
  background-color: var(--colorEight) !important;
}
.bg-ea4335-10 {
  background-color: var(--colorEight-10) !important;
}
.bg-f9f9f9 {
  background-color: var(--colorNine) !important;
}
.bg-fdedeb {
  background-color: var(--colorTen) !important;
}
.bg-eaeaea {
  background-color: var(--colorEleven) !important;
}
.bg-0fa958 {
  background-color: var(--colorTwelve) !important;
}
.bg-0fa958-10 {
  background-color: var(--colorTwelve-10) !important;
}
.bg-f5b40a {
  background-color: var(--color13) !important;
}
.bg-f5b40a-10 {
  background-color: var(--color13-10) !important;
}
.bg-ebe7d5 {
  background-color: var(--color14) !important;
}
.bg-e6ef84 {
  background-color: var(--color15) !important;
}
.bg-84dcef {
  background-color: var(--color16) !important;
}
.bg-eef0f2 {
  background-color: var(--color17) !important;
}
.bg-b7bdc6 {
  background-color: var(--color18) !important;
}
.bg-596680 {
  background-color: var(--color19) !important;
}
.bg-f0f0f0 {
  background-color: var(--color20) !important;
}
.bg-ed0006 {
  background-color: var(--color21) !important;
}
.bg-8d84ef {
  background-color: var(--color22) !important;
}
.bg-d3d9e5 {
  background-color: var(--color23) !important;
}
.bg-cdffc5 {
  background-color: var(--color24) !important;
}
.bg-scroll-track {
  background-color: var(--scroll-track) !important;
}
.bg-scroll-thumb {
  background-color: var(--scroll-thumb) !important;
}
.bg-1b1c17 {
  background-color: var(--text-black) !important;
}
.bg-1b1c17-50 {
  background-color: var(--text-black-50) !important;
}
.bg-4cbf4c {
  background-color: var(--green) !important;
}
.bg-ededed {
  background-color: var(--bg-one) !important;
}
.bg-e5e8ec {
  background-color: var(--border-color-one) !important;
}
.bg-b0b0b0 {
  background-color: var(--border-color-deep) !important;
}
.bg-fbf9f1 {
  background-color: var(--body-bg) !important;
}
/* Border Color */
.bd-c-black-5 {
  border-color: var(--black-5) !important;
}
.bd-c-black-10 {
  border-color: var(--black-10) !important;
}
.bd-c-white-10 {
  border-color: var(--white-10) !important;
}
.bd-c-white-32 {
  border-color: var(--white-32) !important;
}
.bd-c-white-70 {
  border-color: var(--white-70) !important;
}
.bd-c-cdef84 {
  border-color: var(--primary-color) !important;
}
.bd-c-afd449 {
  border-color: var(--hover-color) !important;
}
.bd-c-707070 {
  border-color: var(--bColor) !important;
}
.bd-c-ebedf0 {
  border-color: var(--colorTwo) !important;
}
.bd-c-fafafa {
  border-color: var(--colorThree) !important;
}
.bd-c-71e3ba {
  border-color: var(--colorFour) !important;
}
.bd-c-ed84ef {
  border-color: var(--colorFive) !important;
}
.bd-c-84a2ef {
  border-color: var(--colorSix) !important;
}
.bd-c-f4f4ef {
  border-color: var(--colorSeven) !important;
}
.bd-c-ea4335 {
  border-color: var(--colorEight) !important;
}
.bd-c-ea4335-10 {
  border-color: var(--colorEight-10) !important;
}
.bd-c-f9f9f9 {
  border-color: var(--colorNine) !important;
}
.bd-c-fdedeb {
  border-color: var(--colorTen) !important;
}
.bd-c-eaeaea {
  border-color: var(--colorEleven) !important;
}
.bd-c-0fa958 {
  border-color: var(--colorTwelve) !important;
}
.bd-c-0fa958-10 {
  border-color: var(--colorTwelve-10) !important;
}
.bd-c-f5b40a {
  border-color: var(--color13) !important;
}
.bd-c-f5b40a-10 {
  border-color: var(--color13-10) !important;
}
.bd-c-ebe7d5 {
  border-color: var(--color14) !important;
}
.bd-c-e6ef84 {
  border-color: var(--color15) !important;
}
.bd-c-84dcef {
  border-color: var(--color16) !important;
}
.bd-c-eef0f2 {
  border-color: var(--color17) !important;
}
.bd-c-b7bdc6 {
  border-color: var(--color18) !important;
}
.bd-c-596680 {
  border-color: var(--color19) !important;
}
.bd-c-f0f0f0 {
  border-color: var(--color20) !important;
}
.bd-c-ed0006 {
  border-color: var(--color21) !important;
}
.bd-c-8d84ef {
  border-color: var(--color22) !important;
}
.bd-c-d3d9e5 {
  border-color: var(--color23) !important;
}
.bd-c-cdffc5 {
  border-color: var(--color24) !important;
}
.bd-c-scroll-track {
  border-color: var(--scroll-track) !important;
}
.bd-c-scroll-thumb {
  border-color: var(--scroll-thumb) !important;
}
.bd-c-1b1c17 {
  border-color: var(--text-black) !important;
}
.bd-c-1b1c17-50 {
  border-color: var(--text-black-50) !important;
}
.bd-c-4cbf4c {
  border-color: var(--green) !important;
}
.bd-c-ededed {
  border-color: var(--bg-one) !important;
}
.bd-c-e5e8ec {
  border-color: var(--border-color-one) !important;
}
.bd-c-b0b0b0 {
  border-color: var(--border-color-deep) !important;
}
.bd-c-fbf9f1 {
  border-color: var(--body-bg) !important;
}
/* Fil color */
.fill-green {
  svg {
    path {
      fill: $green;
    }
  }
}
