.g-10 {
  gap: toRem(10);
}
.g-18 {
  gap: toRem(18);
}
/* Row Gap */
.rg-5 {
  row-gap: toRem(5);
}
.rg-6 {
  row-gap: toRem(6);
}
.rg-10 {
  row-gap: toRem(10);
}
.rg-15 {
  row-gap: toRem(15);
}
.rg-22 {
  row-gap: toRem(22);
}
.rg-25 {
  row-gap: toRem(25);
}
.rg-30 {
  row-gap: toRem(30);
}
/* Column gap */
.cg-2 {
  column-gap: toRem(2);
}
.cg-5 {
  column-gap: toRem(5);
}
.cg-6 {
  column-gap: toRem(6);
}
.cg-7 {
  column-gap: toRem(7);
}
.cg-8 {
  column-gap: toRem(8);
}
.cg-10 {
  column-gap: toRem(10);
}
.cg-13 {
  column-gap: toRem(13);
}
.cg-14 {
  column-gap: toRem(14);
}
.cg-15 {
  column-gap: toRem(15);
}
.cg-16 {
  column-gap: toRem(16);
}
.cg-17 {
  column-gap: toRem(17);
}
.cg-18 {
  column-gap: toRem(18);
}
.cg-20 {
  column-gap: toRem(20);
}
.cg-30 {
  column-gap: toRem(30);
}
.cg-40 {
  column-gap: toRem(40);
}
