/* Margin Left & Right */
.mx-26 {
  margin-left: toRem(26) !important;
  margin-right: toRem(26) !important;
}
.mx-29 {
  margin-left: toRem(29) !important;
  margin-right: toRem(29) !important;
}
/* Margin top */
.mt-17 {
  margin-top: toRem(17) !important;
}
.mt-20 {
  margin-top: toRem(20) !important;
}
.mt-30 {
  margin-top: toRem(30) !important;
}
/* Margin bottom */
.mb-6 {
  margin-bottom: toRem(6) !important;
}
.mb-10 {
  margin-bottom: toRem(10) !important;
}
.mb-18 {
  margin-bottom: toRem(18) !important;
}
.mb-20 {
  margin-bottom: toRem(20) !important;
}
.mb-25 {
  margin-bottom: toRem(25) !important;
}
.mb-26 {
  margin-bottom: toRem(26) !important;
}
.mb-27 {
  margin-bottom: toRem(27) !important;
}
.mb-30 {
  margin-bottom: toRem(30) !important;
}
.mb-35 {
  margin-bottom: toRem(35) !important;
}
.mb-44 {
  margin-bottom: toRem(44) !important;
}
