/* z-index */
.z-index-10 {
    z-index: 10;
}
/* Padding */
.p-13 {
    padding: toRem(13) !important;
}
.p-14 {
    padding: toRem(14) !important;
}
.p-20 {
    padding: toRem(20) !important;
}
.p-25 {
    padding: toRem(25) !important;
}
.p-30 {
    padding: toRem(30) !important;
}
/* Padding top & bottom */
.py-3 {
    padding-top: toRem(3) !important;
    padding-bottom: toRem(3) !important;
}
.py-5 {
    padding-top: toRem(5) !important;
    padding-bottom: toRem(5) !important;
}
.py-6 {
    padding-top: toRem(6) !important;
    padding-bottom: toRem(6) !important;
}
.py-7 {
    padding-top: toRem(7) !important;
    padding-bottom: toRem(7) !important;
}
.py-10 {
    padding-top: toRem(10) !important;
    padding-bottom: toRem(10) !important;
}
.py-11 {
    padding-top: toRem(11) !important;
    padding-bottom: toRem(11) !important;
}
.py-13 {
    padding-top: toRem(13) !important;
    padding-bottom: toRem(13) !important;
}
.py-14 {
    padding-top: toRem(14) !important;
    padding-bottom: toRem(14) !important;
}
.py-16 {
    padding-top: toRem(16) !important;
    padding-bottom: toRem(16) !important;
}
.py-17 {
    padding-top: toRem(17) !important;
    padding-bottom: toRem(17) !important;
}
.py-20 {
    padding-top: toRem(20) !important;
    padding-bottom: toRem(20) !important;
}
.py-22 {
    padding-top: toRem(22) !important;
    padding-bottom: toRem(22) !important;
}
.py-25 {
    padding-top: toRem(25) !important;
    padding-bottom: toRem(25) !important;
}
.py-30 {
    padding-top: toRem(30) !important;
    padding-bottom: toRem(30) !important;
}
@media screen and (min-width: 576px) {
    .py-sm-60 {
        padding-top: toRem(60) !important;
        padding-bottom: toRem(60) !important;
    }
}
@media screen and (min-width: 576px) {
    .py-sm-100 {
        padding-top: toRem(100) !important;
        padding-bottom: toRem(100) !important;
    }
}
/* Padding left & right */
.px-5 {
    padding-left: toRem(5) !important;
    padding-right: toRem(5) !important;
}
.px-6 {
    padding-left: toRem(6) !important;
    padding-right: toRem(6) !important;
}
.px-9 {
    padding-left: toRem(9) !important;
    padding-right: toRem(9) !important;
}
.px-10 {
    padding-left: toRem(10) !important;
    padding-right: toRem(10) !important;
}
.px-14 {
    padding-left: toRem(14) !important;
    padding-right: toRem(14) !important;
}
.px-17 {
    padding-left: toRem(17) !important;
    padding-right: toRem(17) !important;
}
.px-20 {
    padding-left: toRem(20) !important;
    padding-right: toRem(20) !important;
}
.px-24 {
    padding-left: toRem(24) !important;
    padding-right: toRem(24) !important;
}
.px-25 {
    padding-left: toRem(25) !important;
    padding-right: toRem(25) !important;
}
.px-26 {
    padding-left: toRem(26) !important;
    padding-right: toRem(26) !important;
}
.px-29 {
    padding-left: toRem(29) !important;
    padding-right: toRem(29) !important;
}
.px-30 {
    padding-left: toRem(30) !important;
    padding-right: toRem(30) !important;
}
.px-36 {
    padding-left: toRem(36) !important;
    padding-right: toRem(36) !important;
}
.px-50 {
    padding-left: toRem(50) !important;
    padding-right: toRem(50) !important;
}
/* Padding top */
.pt-4 {
    padding-top: toRem(4) !important;
}
.pt-10 {
    padding-top: toRem(10) !important;
}
.pt-17 {
    padding-top: toRem(17) !important;
}
.pt-18 {
    padding-top: toRem(18) !important;
}
.pt-20 {
    padding-top: toRem(20) !important;
}
.pt-23 {
    padding-top: toRem(23) !important;
}
.pt-25 {
    padding-top: toRem(25) !important;
}
.pt-28 {
    padding-top: toRem(28) !important;
}
.pt-30 {
    padding-top: toRem(30) !important;
}
.pt-76 {
    padding-top: toRem(76) !important;
}
/* Padding bottom */
.pb-0 {
    padding-bottom: toRem(0) !important;
}
.pb-2 {
    padding-bottom: toRem(2) !important;
}
.pb-3 {
    padding-bottom: toRem(3) !important;
}
.pb-4 {
    padding-bottom: toRem(4) !important;
}
.pb-5 {
    padding-bottom: toRem(5) !important;
}
.pb-6 {
    padding-bottom: toRem(6) !important;
}
.pb-8 {
    padding-bottom: toRem(8) !important;
}
.pb-9 {
    padding-bottom: toRem(9) !important;
}
.pb-10 {
    padding-bottom: toRem(10) !important;
}
.pb-12 {
    padding-bottom: toRem(12) !important;
}
.pb-14 {
    padding-bottom: toRem(14) !important;
}
.pb-15 {
    padding-bottom: toRem(15) !important;
}
.pb-16 {
    padding-bottom: toRem(16) !important;
}
.pb-17 {
    padding-bottom: toRem(17) !important;
}
.pb-18 {
    padding-bottom: toRem(18) !important;
}
.pb-20 {
    padding-bottom: toRem(20) !important;
}
.pb-22 {
    padding-bottom: toRem(22) !important;
}
.pb-25 {
    padding-bottom: toRem(25) !important;
}
.pb-26 {
    padding-bottom: toRem(26) !important;
}
.pb-27 {
    padding-bottom: toRem(27) !important;
}
.pb-30 {
    padding-bottom: toRem(30) !important;
}
.pb-32 {
    padding-bottom: toRem(32) !important;
}
.pb-33 {
    padding-bottom: toRem(33) !important;
}
.pb-35 {
    padding-bottom: toRem(35) !important;
}
.pb-36 {
    padding-bottom: toRem(36) !important;
}
.pb-40 {
    padding-bottom: toRem(40) !important;
}
.pb-50 {
    padding-bottom: toRem(50) !important;
}
/* Padding Left */
.pl-13 {
    padding-left: toRem(13) !important;
}
.pl-40 {
    padding-left: toRem(40) !important;
}
