.min-w-50 {
  min-width: toRem(50);
}
.min-w-100 {
  min-width: toRem(100);
}
.min-w-110 {
  min-width: toRem(110);
}
.min-w-130 {
  min-width: toRem(130);
}
.min-w-150 {
  min-width: toRem(150);
}
.min-w-160 {
  min-width: toRem(160);
}
.min-w-408 {
  min-width: toRem(408);
}
/* Maximum width */
.max-w-10 {
  max-width: toRem(10);
}
.max-w-14 {
  max-width: toRem(14);
}
.max-w-26 {
  max-width: toRem(26);
}
.max-w-30 {
  max-width: toRem(30);
}
.max-w-60 {
  max-width: toRem(60);
}
.max-w-146 {
  max-width: toRem(146);
}
.max-w-150 {
  max-width: toRem(150);
}
.max-w-220 {
  max-width: toRem(220);
}
.max-w-230 {
  max-width: toRem(230);
}
.max-w-240 {
  max-width: toRem(240);
}
.max-w-260 {
  max-width: toRem(260);
}
.max-w-408 {
  max-width: toRem(408);
}
.max-w-503 {
  max-width: toRem(503);
}
.max-w-555 {
  max-width: toRem(555);
}
.max-w-830 {
  max-width: toRem(830);
}
.max-w-840 {
  max-width: toRem(840);
}
.max-w-890 {
  max-width: toRem(890);
}
.max-w-940 {
  max-width: toRem(940);
}
/* Width */
.w-18 {
  width: toRem(18) !important;
}
.w-28 {
  width: toRem(28) !important;
}
.w-30 {
  width: toRem(30) !important;
}
.w-32 {
  width: toRem(32) !important;
}
.w-35 {
  width: toRem(35) !important;
}
.w-40 {
  width: toRem(40) !important;
}
.w-42 {
  width: toRem(42) !important;
}
.w-45 {
  width: toRem(45) !important;
}
.w-48 {
  width: toRem(48) !important;
}
.w-50 {
  width: toRem(50) !important;
}
.w-110 {
  width: toRem(110) !important;
}
/* Minimum Height */
.min-h-45 {
  min-height: toRem(45);
}
.min-h-82 {
  min-height: toRem(82);
}
.min-h-106 {
  min-height: toRem(106);
}
.min-h-180 {
  min-height: toRem(180);
}
/* Maximum Height */
.max-h-35 {
  max-height: toRem(35);
}
.max-h-69 {
  max-height: toRem(69);
}
.max-h-430 {
  max-height: toRem(430);
}
.max-h-800 {
  max-height: toRem(800);
}
/* Height */
.h-18 {
  height: toRem(18) !important;
}
.h-28 {
  height: toRem(28) !important;
}
.h-30 {
  height: toRem(30) !important;
}
.h-32 {
  height: toRem(32) !important;
}
.h-35 {
  height: toRem(35) !important;
}
.h-40 {
  height: toRem(40) !important;
}
.h-42 {
  height: toRem(42) !important;
}
.h-45 {
  height: toRem(45) !important;
}
.h-48 {
  height: toRem(48) !important;
}
.h-50 {
  height: toRem(50) !important;
}
.h-110 {
  height: toRem(110) !important;
}
.max-wp-100 {
  max-width: 100% !important;
}
